*{
    border: none;
    padding: none;
    text-decoration: none;
    list-style: none ;
    overflow-y: none;
}


/**************
Styling navbar
***************/
.navbar {
    transition: background-color 0.8s ease;
}

/* Styling when navbar has background color */
.navbar-scrolled {
    background-color: rgba(255, 255, 255); 
}



/********
contact
*********/
.contact-container{
    margin-top: 160px;
}

.contact-info {
    background-color: #17a2b8;
    padding: 40px 10px 40px 10px;
}

.contact-info {
    background: linear-gradient(to right, #0174BE, #01949A);
    border-radius: 10px;
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 34px;
    color: black;
}



/*********************
Styling contact form
**********************/
.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

#form-text h2{
    font-size: 45px;
    color: #333;
    margin-bottom: 10px;

}

#form-text h6{
    color: #777;
    font-size: 24px;
    margin-bottom: 40px;
}

form{
    margin-top: 70px;
}

form input{
    margin-bottom: 20px;
}

input, textarea {
    width: 700px;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 2px;
    font-size: 16px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input:focus, textarea:focus {
    border-color: #5b9bd5;
    box-shadow: 0 0 8px rgba(91, 155, 213, 0.5);
    outline: none;
}

.button input{
    background-color:#dc3545;
    margin-top: 15px;
    border: none;
}
.button input:hover{
    background-color:#c03240;
}


/**********************************
Contact us on whatsapp button fixed
************************************/
.fixed-whatsapp{
    position: fixed;
    bottom: 30px;
    right: 10px;
    z-index: 1;
    background-color: #25D366;
    border-radius: 50%;
    width:60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.fixed-whatsapp a i{
    color: white;
    font-size: 30px;
}