*{
    border: none;
    padding: 0;
    text-decoration: none;
    list-style: none;
    overflow-y: none;
}

body{
    background-color: white;
}

/* form container */
.collection{
    background-color: white;
    padding: 1.5rem;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: 0 20px 35px rgba(0, 0, 1, 0.4);
    /* width: 500px !important; */
}

form{
    margin: 0 0.5rem;
}

input{
    color: inherit;
    border: none;
    background-color: transparent;
    position: relative;
    margin-left: 20rem;
}


label{
    font-weight: 500;
}

/* Next Button */
.third-button{
    width: 100%;
}
