*{
    border: none;
    padding: none;
    text-decoration: none;
    list-style: none;
}

/* Styling navbar */
.navbar {
    transition: background-color 0.8s ease;
}

/* Styling when navbar has background color */
.navbar-scrolled {
    background-color: rgba(255, 255, 255); 
}



/********
Services
*********/
.services-container .container .card{
    border: none;
}


/* backgroung-image */
.backgroung-image{
    background-image: url('https://img.freepik.com/premium-photo/new-white-timber_670147-3070.jpg?uid=R174879112&ga=GA1.1.1570398775.1739589856&semt=ais_hybrid');
    max-height: 100vh;
    height: 350px;
    background-size: cover;
    background-position: center;
    background-attachment:fixed;
    background-repeat: no-repeat
}


/******************
animated-element 
*******************/
.animation{
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.7s ease-out, transform 0.8s ease-out;
}
  
.animation.show {
    opacity: 1;
    transform: translateY(0);
}




/**********************************
Contact us on whatsapp button fixed
************************************/
.fixed-whatsapp{
    position: fixed;
    bottom: 30px;
    right: 10px;
    z-index: 1;
    background-color: #25D366;
    border-radius: 50%;
    width:60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.fixed-whatsapp a i{
    color: white;
    font-size: 30px;
}
  