/* *******************
Sidebar for Large Screens 
**********************/
.sidebar {
    height: 100vh;
    width: 12rem;
    position: fixed;
    z-index: 1100;
    left: 0;
    top: 0;
    background-color:  rgb(18, 18, 36);
    border-right: 2px solid gray;
    transition: .2s ease-in;
}

/* Brand Name for Large Screens */
.sidebar .top .logo{
    display: flex;
}
.sidebar .top .logo img{
    width: 3rem;
    height: 3rem;
}

.sidebar .top .logo h5{
    font-family: "Gochi Hand", serif;
    font-weight: 700;
    font-size:1.4rem;
    color: #dc3545;
    margin-bottom: 30px;
}

/* sidebar links */
.sidebar ul{
    gap: 1.2rem;
}

.sidebar ul li a{
    display: flex;
    gap: 1rem; 
    font-size: 1rem;
    color: #999999;
    transition: all .1s ease-in;
    text-decoration: none;
}

.sidebar ul li a h4{
    font-size: 1.3rem;
}

/* sidebar links icons last-child(logout) */
.sidebar li:last-child{
    position: absolute;
    bottom: 1rem;
    width: 100%;
}

/* .sidebar links active */
.sidebar a.active span{
    /* color: rgb(238, 84, 28); */
    color: #dc3545;
}

/* .sidebar hover icons  */
.sidebar a:hover{
    color: antiquewhite;
    transition: .2s ease;
}

/* .sidebar message msg_count  */
.sidebar a span.msg_count{
    background-color: red;
    color: white;
    padding: 2px 4px;
    font-size: 10px;
    position: absolute;
    border-radius: 38%;
}


/****************************
Media when the screen moves
****************************/
.toggle-background {
    display: none;
}
.offcanvas {
    display: none;
}

@media (max-width: 1189px) {
    .sidebar{
        width: 6rem;
        transition: .2s ease-in;
    }
    .sidebar .top .logo h5{
        display: none;
        margin-bottom: 20px;
    }
    .sidebar .top .logo img{
        margin-bottom: 30px;
    }
    .sidebar ul li a h4{
        display: none;
    }
    .sidebar ul li a span{
        font-size: 28px;
        margin-left: 10px;
    }
    .mode-container{
        margin-left: 0 !important;
    }
}

/****************************
Media  query for mobile phone
****************************/
@media (max-width: 989px) {
    .sidebar {
        display: none;
    }
    /*****************
    offcanvas Nav Bar
    ******************/
    .toggle-background{
        display:block;
        background-color: rgb(18, 18, 36);
        position: fixed;
        top: 0;
        width: 100vw;
        z-index: 1;
        padding: 10px;
        display: flex;
        justify-content: space-between;
    }
    .toggle-background h5{
        font-family: "Gochi Hand", serif;
        margin-right: 50px;
        font-size: 1.4rem;
    }
    .hamburger{
        cursor: pointer;
        color: white;
    }
    .offcanvas .offcanvas-header h5{
        font-family: "Gochi Hand", serif;
        font-weight: 1000;
        font-size:1.5rem;
        color: #dc3545;
    }
    .offcanvas ul li a{
        display: flex;
        gap: 1.2rem; 
        font-size: 1rem;
    }
    .offcanvas ul{
        gap: 1rem;
    }
    .offcanvas ul li a{
        display: flex;
        gap: 1.2rem; 
        font-size: 1rem;
        color: #212529;
        transition: all .1s ease-in;
        text-decoration: none;
    }
    .offcanvas ul li:last-child{
        position: absolute;
        bottom: 1rem;
        width: 100%;
    }
    .offcanvas a.active span{
        color: #dc3545;
    }
    .offcanvas a:hover{
        color:  rgb(88, 88, 88);
        transition: .1s ease;
    }
    .offcanvas a span.msg_count{
        background-color: red;
        color: white;
        padding: 2px 4px;
        font-size: 10px;
        position: absolute;
        border-radius: 38%;
    }
}

