*{
    border: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    appearance: none;
}

#container{
    font-family: "Poppins", serif !important;
    width: 100vw;
    height: 100vh;
    display:flex;
    flex-direction: column;
}

/************ 
Content Area 
*************/
.maincontainer {
    padding:0 20px;
    margin-left: 12rem;
}

header{
    display: flex;
    justify-content:space-between;
}

header h1{
    color: rgb(18, 18, 36);
}

/* Profile Section*/
.profile{
    display: flex;
    gap: 1.3rem;
    margin: 20px 23px 0px 0px;
}

/* profile-photo */
.profile-photo img{
    width: 3.5rem;
    height: 3.5rem;
    background-color: rgb(2, 117, 73);
    border-radius: 50%;
    object-fit:fill;
}


/* Content, card */
.first_section > div .card{
    margin: 0.6rem;
    border: none;
    padding: 1.5rem;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2), 
    0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Content, card icon */
.first_section > div span{
    padding: 0.5rem;
    border-radius: 50%;
    color: white;
    font-size: 2rem;
    width:50px;
    margin-bottom: 1rem;
}

/* Content, card middle section */
.first_section > div .middle{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Content, card middle section h1 */
.first_section > div .middle h1{
    font-size: 1.9rem;
    font-weight:bold;
}

/* Content, card middle section h3 */
.first_section > div .middle h3{
    font-size: 1.2rem;
    font-weight: bold;
}

/* Content, card middle section progresss */
.first_section .progresss{
    position: relative;
    width: 68px;
    height: 68px;
}

/* Content, card middle section progresss svg */
.first_section  svg{
    height: 150px;
    position:absolute;
    top: 0;
}

/* Content, card middle section progresss circle */
.first_section  svg circle{
    fill: none;
    stroke: aqua;
    stroke-width: 5;
}

/* Content, card middle section progresss number */
.first_section .progresss .number{
    position: absolute;
    top: 5%;
    left: 5%;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* featured_listings */
.featured_listings h1{
    color: rgb(18, 18, 36);
}

/* Recent Order */
.content .recent-order{
    margin-top: 3rem;
}

/* Recent Order table div */
.content .recent-order .table{
    background-color: white;
}



.table{
    height: 220px;
    overflow: scroll;
}


/***************** 
Recent charts
*******************/
.recent-charts h2{
    font-size: 1.5rem;
    font-weight: bolder;
    margin-bottom: 1rem;
    color: rgb(18, 18, 36);
}

.charts{
    display: flex;
    margin-bottom: 0.8rem;
    gap: 1rem;
}

@media (max-width: 1189px) {
    .maincontainer{
        width:auto !important;
        margin-left: 6rem;
    }
}


@media (max-width: 989px) {
    #container{
        margin-left: 0;
    }
    .maincontainer {
        margin-left: 0;
        padding: 0 13px;
        margin-top: 50px;
    }
}
