*{
    border: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    appearance: none;
}

body{
    font-family: "Poppins", serif !important;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    user-select: none;
    display:flex;
    flex-direction: column;
}


/*****************
main container Area 
*****************/
.maincontainer {
    padding: 30px;
    margin-left: 12rem;
}
.maincontainer h1{
    font-weight: bolder;
}

/* profile-photo */
.profile-photo img{
    object-fit: contain;
    width: 20rem;
    height: 20rem;
    background-color: gray;
}



.details{
    width: 100rem;
}

form{
    width:auto;
}

form .inp{
    display: flex;
    gap: 1rem;
}

form .input input{
    width:auto;
}



@media (max-width: 989px) {
    .maincontainer {
        margin-left: 0;
        margin-top: 50px;
    }
}