*{
    border: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    appearance: none;
}

#container{
    font-family: "Poppins", serif !important;
    width: 100vw;
    height: 100vh;
    display:flex;
    flex-direction: column;
}

/************ 
Content Area 
*************/
.maincontainer {
    padding:20px 20px;
    margin-left: 12rem;
}

.your_product{
    display: flex;
    justify-content: space-between;
}

.your_product a{
    display: flex;
    height: 100%;
}
