*{
    border: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    appearance: none;
}

body{
    font-family: "Poppins", serif !important;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    user-select: none;
}

/* *******************
Sidebar for Large Screens 
**********************/
.sidebar {
    height: 100vh;
    width: 250px;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #F8F9FA;
}

/* Brand Name for Large Screens */
.sidebar .top .logo h3{
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}

/* sidebar links */
.sidebar a {
    color: #212529;
    padding: 10px 15px;
    display: flex;
    gap: 1rem;
    transition: all .1s ease-in;
    text-decoration: none;
}

/* sidebar links icons */
.sidebar a span{
    font-size: 1.6rem;
    transition: all .1s ease-in;
}

/* sidebar links icons last-child(logout) */
.sidebar a:last-child{
    position: absolute;
    bottom: 1rem;
    width: 100%;
}

/* .sidebar links active */
.sidebar a.active{
    background-color: rgb(220, 220, 241);
    color: rgb(46, 46, 247);
    margin-left: 0;
    border-left: 6px solid blue;
}

/* .sidebar before links active */
.sidebar a.active::before{
    content: '';
    width: 6px;
    height: 100%;
    background-color: chartreuse;
}

/* .sidebar hover links */
.sidebar a:hover {
    color: blue;
}

/* .sidebar hover icons  */
.sidebar a:hover  span{
    margin-left: 1rem;
    transition: .4s ease;
}

/* .sidebar message msg_count  */
.sidebar a span.msg_count{
    background-color: red;
    color: white;
    padding: 2px 5px;
    font-size: 11px;
    position: absolute;
    border-radius: 25%;
    margin-left: 0.2rem;
}


/************ 
Content Area 
*************/
.maincontainer {
    display: grid;
    margin-left: 250px;
    padding: 20px;
    gap: 1.8rem;
    grid-template-columns: auto 16rem;
}


/* Main Content */
.content{
    width: auto;
}

/* Content, card */
.content .insights > div .card{
    margin: 1.4rem;
    border: none;
    padding: 1.8rem;
    border-radius: 20px;
}

/* Content, card icon */
.content .insights > div span{
    padding: 0.5rem;
    border-radius: 50%;
    color: white;
    font-size: 2rem;
    width:50px;
    margin-bottom: 1rem;
}

/* Content, card middle section */
.content .insights  > div .middle{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Content, card middle section h1 */
.content .insights  > div .middle h1{
    font-size: 1.9rem;
    font-weight:bold;
}

/* Content, card middle section h3 */
.content .insights  > div .middle h3{
    font-size: 1.2rem;
    font-weight: bold;
}

/* Content, card middle section progresss */
.content .insights .progresss{
    position: relative;
    width: 68px;
    height: 68px;
}

/* Content, card middle section progresss svg */
.content .insights  svg{
    height: 150px;
    position:absolute;
    top: 0;
}

/* Content, card middle section progresss circle */
.content .insights  svg circle{
    fill: none;
    stroke: aqua;
    stroke-width: 5;
}

/* Content, card middle section progresss number */
.content .insights .progresss .number{
    position: absolute;
    top: 5%;
    left: 5%;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Recent Order */
.content .recent-order{
    margin-top: 3rem;
}

/* Recent Order table div */
.content .recent-order .table{
    background-color: white;
}


/***************** 
RightSide Section 
*******************/

/* profile Section */
.right .top .profile{
    display: flex;
    gap: 2rem;
    text-align: center;
}

/* profile-photo */
.profile-photo img{
    width: 3.5rem;
    height: 3.5rem;
    background-color: aquamarine;
    border-radius: 50%;
    object-fit: contain;
}

/* RightSide Section */
.right{
    margin-top: 1.4rem;
}

/* right all h2 */
.right h2{
    color: #212529;
    font-size: 1.8rem;
}

/* right top (profile) */
.right .top{
    display: flex;
    gap: 2rem;
    justify-content: start;
}

/* right top button*/
.right .top button{
    display: none;
}

/* right light/dark mode toggler */
.right .theme-toggler{
    background-color: white;
    justify-content:space-between;
    display: flex;
    height: 1.6rem;
    width: 4.2rem;
    cursor: pointer;
    border-radius: 3px;
}

/* right light/dark mode toggler icon */
.right .theme-toggler span{
    width: 40%;
    height: 100%;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 2s ease;
}

/* right light/dark mode toggler icon active */
.right .theme-toggler span.active{
    background-color:blue;
    color: white;
}

/***********************************
DarkMode - LightMood using javaScript
************************************/
.darkMode{
    background-color: rgb(18, 18, 36);
    color: white;
}

.lightMode{
    background-color: white;
    color:#212529;
}


/* Recent Update */
.right .recent-update{
    margin-top: 1rem;
    margin-left: -30px;
}

/* Recent Updates */
.right .recent-update .updates{
    margin-right: 14px;
    border: none;
    gap: 0.8rem;
}

/* Recent Update */
.right .recent-update .update{
    display: grid;
    grid-template-columns: 2.6rem auto;
    gap: 1.7rem;
}

/* sale analystics */
.right .sale_analystics{
    margin-top: 2rem;
    margin-right: 14px;
}

/* sale analystics all items */
.right .sale_analystics .item_online{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content:space-between;
    gap: 1rem;
    width: 100%;
    margin-bottom: 0.8rem;
    padding: 0.5rem;

}

/* styling all the header in sale analystics */
.right .sale_analystics .item_online .info h3{
    font-size: 1.3rem;
    white-space: nowrap;
}
.right .sale_analystics .item_online .info small{
    font-size: 1rem;
    white-space: nowrap;
}
.right .sale_analystics .item_online h5{
    font-size: 1rem;
}
.right .sale_analystics .item_online h3{
    font-size: 0.9rem;
}

/* sale analystics all items icon */
.right .sale_analystics .item_online .Icon{
    background-color: coral;
    padding: 0.6rem;
    color: white;
    border-radius: 50%;
    height: 50px;
    width: 20%;
    line-height: 45px;
    align-items: center;
    text-align: center;
}

/* item_online icon */
.right .sale_analystics .item_online:nth-child(3) .Icon{
    background-color: aqua;
}
.right .sale_analystics .item_online:nth-child(4) .Icon{
    background-color:yellow;
}


/*******************************************************
Media  query for when screen size reaches a width o 760px
********************************************************/
/* @media screen and (max-width: 1060px) {
    .sidebar .sidenav a h4{
        display: none;
        background-color: red;
    }
} */
















/****************************
Media  query for mobile phone
****************************/

/* Bottom Navbar for Mobile */
.bottom-nav {
    display: none; /* Hidden by default */
}

@media (max-width: 950px) {
    .sidebar {
        display: none; /* Hide sidebar */
    }
    .maincontainer {
        margin-left: 0; /* Adjust content */
    }
    .bottom-nav {
        display: flex; /* Show bottom navbar */
        position: fixed;
        z-index: 1;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #212529;
        padding: 7px 0;
        justify-content: space-around;
        padding: 23px 0;
    }
    .bottom-nav a {
        color: white;
        text-decoration: none;
        text-align: center;
        flex: 1;
    }
    .bottom-nav a h4{
        display: none;
    }
    .bottom-nav a span{
        font-size: 2.5rem;
    }
}